In [1]:
import pandas as pd

ruta_archivo1 = '/Users/luciaprietogonzalez/Documents/Universidad/CURSO4/TFG/TFG DEFINITIVO/DESARROLLO/TFG/Tablas originales/Mental_Health_in_Tech_Survey.csv'  
ruta_archivo2 = '/Users/luciaprietogonzalez/Documents/Universidad/CURSO4/TFG/TFG DEFINITIVO/DESARROLLO/TFG/Tablas originales/Student_Mental _health.csv'  
                
#ruta_archivo1 = 'D:/t738623/Documents/TFG-main/TFG-main/Tablas originales/Mental_Health_in_Tech_Survey.csv'  
#ruta_archivo2 = 'D:/t738623/Documents/TFG-main/TFG-main/Tablas originales/Student_Mental _health.csv'  


#importar el archivo csv y crear el DataFrame
datos_tech_original = pd.read_csv(ruta_archivo1)
datos_student_original = pd.read_csv(ruta_archivo2)

## Analisis inicial de los datasets

In [2]:
#hacer un analisis inicial de los datos 
print("Primeras filas")
print(datos_student_original.head())

print("\nInformación del dataset")
print(datos_student_original.info())

print("\nEstadísticas")
print(datos_student_original.describe())

print("\nDimensiones")
print(datos_student_original.shape)

Primeras filas
        Timestamp Choose your gender   Age What is your course?
0  8/7/2020 12:02             Female  18.0          Engineering  \
1  8/7/2020 12:04               Male  21.0    Islamic education
2  8/7/2020 12:05               Male  19.0                  BIT
3  8/7/2020 12:06             Female  22.0                 Laws
4  8/7/2020 12:13               Male  23.0         Mathemathics

  Your current year of Study What is your CGPA? Marital status
0                     year 1        3.00 - 3.49             No  \
1                     year 2        3.00 - 3.49             No
2                     Year 1        3.00 - 3.49             No
3                     year 3        3.00 - 3.49            Yes
4                     year 4        3.00 - 3.49             No

  Do you have Depression? Do you have Anxiety? Do you have Panic attack?
0                     Yes                   No                       Yes  \
1                      No                  Yes                        No
2                     Yes                  Yes                       Yes
3                     Yes                   No                        No
4                      No                   No                        No

  Did you seek any specialist for a treatment?
0                                           No
1                                           No
2                                           No
3                                           No
4                                           No

Información del dataset
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 101 entries, 0 to 100
Data columns (total 11 columns):
 #   Column                                        Non-Null Count  Dtype
---  ------                                        --------------  -----
 0   Timestamp                                     101 non-null    object
 1   Choose your gender                            101 non-null    object
 2   Age                                           100 non-null    float64
 3   What is your course?                          101 non-null    object
 4   Your current year of Study                    101 non-null    object
 5   What is your CGPA?                            101 non-null    object
 6   Marital status                                101 non-null    object
 7   Do you have Depression?                       101 non-null    object
 8   Do you have Anxiety?                          101 non-null    object
 9   Do you have Panic attack?                     101 non-null    object
 10  Did you seek any specialist for a treatment?  101 non-null    object
dtypes: float64(1), object(10)
memory usage: 8.8+ KB
None

Estadísticas
             Age
count  100.00000
mean    20.53000
std      2.49628
min     18.00000
25%     18.00000
50%     19.00000
75%     23.00000
max     24.00000

Dimensiones
(101, 11)

In [3]:
#hacer un analisis inicial de los datos 
print("Primeras filas")
print(datos_tech_original.head())

print("\nInformación del dataset")
print(datos_tech_original.info())

print("\nEstadísticas")
print(datos_tech_original.describe())

print("\nDimensiones")
print(datos_tech_original.shape)

Primeras filas
             Timestamp  Age  Gender         Country state self_employed
0  2014-08-27 11:29:31   37  Female   United States    IL           NaN  \
1  2014-08-27 11:29:37   44       M   United States    IN           NaN
2  2014-08-27 11:29:44   32    Male          Canada   NaN           NaN
3  2014-08-27 11:29:46   31    Male  United Kingdom   NaN           NaN
4  2014-08-27 11:30:22   31    Male   United States    TX           NaN

  family_history treatment work_interfere    no_employees  ...
0             No       Yes          Often            6-25  ...  \
1             No        No         Rarely  More than 1000  ...
2             No        No         Rarely            6-25  ...
3            Yes       Yes          Often          26-100  ...
4             No        No          Never         100-500  ...

                leave mental_health_consequence phys_health_consequence
0       Somewhat easy                        No                      No  \
1          Don't know                     Maybe                      No
2  Somewhat difficult                        No                      No
3  Somewhat difficult                       Yes                     Yes
4          Don't know                        No                      No

      coworkers supervisor mental_health_interview phys_health_interview
0  Some of them        Yes                      No                 Maybe  \
1            No         No                      No                    No
2           Yes        Yes                     Yes                   Yes
3  Some of them         No                   Maybe                 Maybe
4  Some of them        Yes                     Yes                   Yes

  mental_vs_physical obs_consequence comments
0                Yes              No      NaN
1         Don't know              No      NaN
2                 No              No      NaN
3                 No             Yes      NaN
4         Don't know              No      NaN

[5 rows x 27 columns]

Información del dataset
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1259 entries, 0 to 1258
Data columns (total 27 columns):
 #   Column                     Non-Null Count  Dtype
---  ------                     --------------  -----
 0   Timestamp                  1259 non-null   object
 1   Age                        1259 non-null   int64
 2   Gender                     1259 non-null   object
 3   Country                    1259 non-null   object
 4   state                      744 non-null    object
 5   self_employed              1241 non-null   object
 6   family_history             1259 non-null   object
 7   treatment                  1259 non-null   object
 8   work_interfere             995 non-null    object
 9   no_employees               1259 non-null   object
 10  remote_work                1259 non-null   object
 11  tech_company               1259 non-null   object
 12  benefits                   1259 non-null   object
 13  care_options               1259 non-null   object
 14  wellness_program           1259 non-null   object
 15  seek_help                  1259 non-null   object
 16  anonymity                  1259 non-null   object
 17  leave                      1259 non-null   object
 18  mental_health_consequence  1259 non-null   object
 19  phys_health_consequence    1259 non-null   object
 20  coworkers                  1259 non-null   object
 21  supervisor                 1259 non-null   object
 22  mental_health_interview    1259 non-null   object
 23  phys_health_interview      1259 non-null   object
 24  mental_vs_physical         1259 non-null   object
 25  obs_consequence            1259 non-null   object
 26  comments                   164 non-null    object
dtypes: int64(1), object(26)
memory usage: 265.7+ KB
None

Estadísticas
                Age
count  1.259000e+03
mean   7.942815e+07
std    2.818299e+09
min   -1.726000e+03
25%    2.700000e+01
50%    3.100000e+01
75%    3.600000e+01
max    1.000000e+11

Dimensiones
(1259, 27)

## Preparación dataset tech

In [ ]:
#limpiar columna gender
print(len(datos_tech_original['Gender'].unique()))
print((datos_tech_original['Gender'].unique()))
contar_generos= datos_tech_original['Gender'].value_counts()

49
['Female' 'M' 'Male' 'male' 'female' 'm' 'Male-ish' 'maile' 'Trans-female'
 'Cis Female' 'F' 'something kinda male?' 'Cis Male' 'Woman' 'f' 'Mal'
 'Male (CIS)' 'queer/she/they' 'non-binary' 'Femake' 'woman' 'Make' 'Nah'
 'All' 'Enby' 'fluid' 'Genderqueer' 'Female ' 'Androgyne' 'Agender'
 'cis-female/femme' 'Guy (-ish) ^_^' 'male leaning androgynous' 'Male '
 'Man' 'Trans woman' 'msle' 'Neuter' 'Female (trans)' 'queer'
 'Female (cis)' 'Mail' 'cis male' 'A little about you' 'Malr' 'p' 'femail'
 'Cis Man' 'ostensibly male, unsure what that really means']

In [19]:
#crearse dataset igual para modificarlo
datos_tech = datos_tech_original.copy()
contar_generos= datos_tech_original['Gender'].value_counts()

In [20]:
#eliminar datos duplicados 
duplicados = datos_tech.duplicated().any()
print(duplicados)
print(len(datos_tech_original))

#eliminar duplicados si los tiene
datos_student = datos_tech.drop_duplicates()
print(len(datos_tech))

False
1259
1259

In [26]:
#comprobar en qué columnas hay valores nulos
columnas_nulos = datos_tech.isnull().any()
columnas_nulos = columnas_nulos[columnas_nulos].index.tolist()
print(columnas_nulos)

['state', 'self_employed', 'work_interfere', 'comments']

In [40]:
#añadir id a cada usuario
datos_tech['id_user'] = range(1, len(datos_tech) + 1)

In [4]:

#convertir toda la columna de Genero a minuscula para agrupar 
datos_tech["Gender"]= datos_tech["Gender"].str.lower()
contar_generos= datos_tech['Gender'].value_counts()
contar_generos = contar_generos.to_frame()

#funcion para agrupar la columna genero en tres valores (masculino, femeninino y otro)
def asignar_grupo(nombre):
    if nombre in ['male', 'm', 'make','male ', 'msle', 'man']:
        return 'masculino'
    elif nombre in ['female', 'f','woman', 'female ']:
        return 'femenino'
    else:
        return 'otro'

#aplicar la funcion en dataset de contar para comprobar y en el dataset completo
contar_generos.reset_index(level='Gender', inplace=True)
contar_generos['genero'] = contar_generos['Gender'].apply(asignar_grupo)
datos_tech['genero'] = datos_tech['Gender'].apply(asignar_grupo)
contar_generos= datos_tech['genero'].value_counts()

In [ ]:
#¿como trato a los trangeneros? 
#los puedo agrupar o dejar en otro, ya que puede condicionar

In [24]:
#limpiar edades que sean menor que 18 y mayor de 100, quedarse solo las edades que cumplan 18<edad<100
#nombre columna "Age"
datos_tech = datos_tech.loc[(datos_tech['Age'] >= 18) & (datos_tech['Age'] <= 100)]
len(datos_tech)

1251

## Preparación Dataset students

In [10]:
#crearse dataset igual para modificarlo
datos_student = datos_student_original.copy()

In [15]:
#eliminar datos duplicados 
duplicados = datos_student.duplicated().any()
print(duplicados)
print(len(datos_student_original))

#eliminar duplicados si los tiene
datos_student = datos_student.drop_duplicates()
print(len(datos_student))

False
101
101

In [ ]:
#renombrar columnas dataframe (sobretodo en el de estudiantes, que son preguntas, poner nombres identificativos)
nuevos_nombres = {'A': 'Columna1', 'B': 'Columna2'}
datos_tech = datos_tech.rename(columns=nuevos_nombres)

# Mostrar el DataFrame con las columnas renombradas
print(df)

## Exportar datos procesados a csv

In [13]:
#exportar dataframes procesados en csv
contar_generos.to_csv("D:/t738623/Documents/TFG-main/TFG-main/Procesados/contar_generos.csv")
#datos_student.to_csv("/Users/luciaprietogonzalez/Documents/Universidad/CURSO4/TFG/TFG DEFINITIVO/DESARROLLO/DATASETS/c/datos_student.csv", index = False)